<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>algrtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>deepfirst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>eval.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lr1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>quick_sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>see_sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>widefirst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521C95B91CF401F400926F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526B6C1E1CE0D7AB0041CA24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526B6C2F1CE0DAC70041CA24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526B6C3A1CE0DC7D0041CA24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5294B2B71D20B73C008310DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D5B86F1CF9C5CC00827690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EC141F1CE4C551004100CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EC142A1CE4CB7E004100CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EC14351CE4D044004100CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EDBD591D0C3E1C0026EC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
