
<!DOCTYPE html>
<html>

<head>
    <title>
        Fast Sine Demonstration
    </title>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>

    <style type="text/css">
        #draw-target {
            width:480px; height:320px; background-color:#000; position:relative;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            (function() {
                var fastSin = function(steps) {
                    var table = [],
                            ang = 0,
                            angStep = (Math.PI * 2) / steps;
                    do {
                        table.push(Math.sin(ang));
                        ang += angStep;
                    } while (ang < Math.PI * 2);
                    return table;
                };

                var sinTable = fastSin(4096),
                        $drawTarget = $('#draw-target'),
                        divs = '',
                        i, $bars, x = 0;

                var drawGraph = function(ang, freq, height) {
                    var height2 = height * 2;
                    for (var i = 0; i < 480; i++) {
                        $bars[i].style.top =
                                160 - height + sinTable[(ang + (i * freq)) & 4095] * height + 'px';
                        $bars[i].style.height = height2 + 'px';
                    }
                };
                for (i = 0; i < 480; i++) {
                    divs += '<div style="position:absolute; width:1px; height:40px; ' + 'background-color:#0d0; top:0px; left: ' + i + 'px;"></div>';
                }

                $drawTarget.append(divs);
                $bars = $drawTarget.children();

                setInterval(function() {
                    drawGraph(x * 50, 32 - (sinTable[(x * 20) & 4095] * 16), 50 - (sinTable[(x * 10) & 4095] * 20));
                    x++;
                }, 20);
            })();

        });
    </script>
</head>

<body>
<p>DHTML Demonstration. Sine lookup table used to create an animated effect.</p>

<div id="draw-target">
</div>
</body>

</html>